---
layout: default
---

<div class='latest-post-title'>
<h2>Cerita Terbaru</h2>
</div>

    {% for post in paginator.posts %}
      <article class="post">
  {% for category in post.categories %}
    <div class="label-line">
<span class="label-info-th">
<a href="/category/{{ category | slugify }}/">{{ category }}</a></span>{% unless forloop.last %}, {% endunless %}
  {% endfor %}
</div>





        {% if post.image %}
          <div class='img-thumbnail-wrap'>
<div class='img-thumbnail'><img class="post-thumbnail image" src="{{ post.image }}" alt="Thumbnail {{ post.title }}" /></div></div>
        {% endif %}

        <!-- Judul tetap di kanan -->
        <div class="post-content-wrapper">
                <h2 class='post-title'>
            <a href="https://cerdew.github.io{{ post.url }}">{{ post.title }}</a>
          </h2>
        

        <!-- Snippet + tanggal pindah ke bawah gambar -->
        <div class="post-snippet">
          {{ post.excerpt | truncatewords: 20 }} <a href="{{ post.url }}" class="read-more-link">Read more »</a></div>
          <div class='post-info info-1'>
<span class='author-info'>By Admin</span> - <span class='time-info'>{{ post.date | date: "%d %B %Y" }}</span>
        </div>
      </article>
    {% endfor %}


  
    {% include pagination.html %}
  

